* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
    background-image: url('image/kopimpa2.jpg');
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

p {
    color: #979797;
    margin: 0 0 16px 0;
    font-size: 24px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 128px;
    top: 0;
    background-color: #2E1A11;
    z-index: 5;
}

header > h1 {
    margin: 0;
    color: white;
}

section {
    padding: 64px 128px;
}

#navigasi > nav {
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    column-gap: 16px;
    background-color:#9F613C;
    position: static;
    z-index: 5;
}

nav > a {;
    padding: 16px 10px;
}

#header > form > input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 120px;
    
}

#header > div > img{
    width: 70%;
    padding: 0;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#landing > div {
    width: 50%;
}

#landing p {
    margin-bottom: 32px;
}