* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../image/tugu-adipura.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 0 0 16px 0;
}

p {
    color: #979797;
    margin: 0 0 16px 0;
    font-size: 24px;
}

#header {
    height: 200px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 128px;
    top: 0;
    background-color: #2E1A11;
    z-index: 5;
}

header > h1 {
    margin: 0;
    color: white;
}

header input[type="search"] {
  width: 250px;
  height: 35px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

section {
    padding: 64px 128px;
}

section img {
    width: 100%;
}

#navigasi {
    top: 200px;
    display: flex;
    padding: 0px 128px;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    column-gap: 16px;
    background-color:#9F613C;
    z-index: 1000;
    
}

nav a {
    padding: 16px 10px;
    display: inline-block;
}

nav a:hover {
    color: black;
}

#header > form > input {
    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#home > div {
    width: 50%;
}

#home p {
    margin-bottom: 32px;
}

#menu-digital {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#menu-digital img {
    width: 400px;
    height: 428px;
    border: 5px solid #2E1A11;
    border-radius: 10px;
}

#menu-digital > div{
    padding-right: 16px;
}

.btn {
    width: 200px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 20px;
}

#btn-pesan:hover{
    background-color: rgb(0, 26, 172);
}

#btn-pesan{
    background-color: rgb(57, 47, 139);
    margin: 0 0 16px;
    color: white;
}

.price {
    width: 400px;
    height: 20px;
}

.price > p {
    text-align: center;
    color: white;
    background-color: #2E1A11;
}

.price > p:hover{
    background-color: #b86a46;
}